.th > .items > div.binance-ninja {
  background-color: #f2ebdc !important;
}

.td > .items > div.binance-ninja {
  background-color: #f7f5f2 !important;
}

span.binance-ninja-filter-option {
  background-color: #f2faff !important;
  border: 1px solid #8cbcbd;
  padding-left: 3px;
}

.binance-ninja-dark th.binance-ninja {
  background-color: #334040 !important;
}

.binance-ninja-dark td.binance-ninja {
  background-color: #162020 !important;
}

.binance-ninja-dark span.binance-ninja-filter-option {
  background-color: #162020 !important;
  border: 1px solid #334040;
}

td.binance-ninja small {
  font-size: 0.8em;
  color: #CCC;
}

.binance-ninja-dark td.binance-ninja small {
  color: #666;
}

td.binance-ninja.neutral {
  color: #888800 !important;
}

td.binance-ninja.negative {
  color: red !important;
}

td.binance-ninja.positive {
  color: green !important;
}

.binance-ninja-dark td.binance-ninja.negative {
  color: #bb0000 !important;
}

.binance-ninja-dark td.binance-ninja.positive {
  color: #008800 !important;
}

td.binance-ninja.bg-neutral {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  border: 1px dotted transparent;
  transition-duration: 0.1s;
}

td.binance-ninja.bg-negative {
  background-color: #f6d4d1 !important;
  border: 1px solid #c02a1d;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

td.binance-ninja.bg-positive {
  background-color: #ceebd3 !important;
  border: 1px solid #27892f;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.binance-ninja-dark td.binance-ninja.bg-negative {
  background-color: #2c1b1a !important;
  border: 1px solid #821d14;
}

.binance-ninja-dark td.binance-ninja.bg-positive {
  background-color: #15281c !important;
  border: 1px solid #15531a;
}

.binance-ninja-hidden {
  display: none !important;
}

.binance-ninja-stretch-0 {
}

.binance-ninja-stretch-1 {
}

.binance-ninja-stretch-2 {
}

.binance-ninja-stretch-3 {
}

.binance-ninja-stretch-4 {
  max-width: 920px !important;
}

.binance-ninja-stretch-5 {
  max-width: 1000px !important;
}

.binance-ninja-stretch-6 {
  max-width: 1070px !important;
}

.binance-ninja-stretch-7 {
  max-width: 1120px !important;
}

.binance-ninja-stretch-8 {
  max-width: 1200px !important;
}

input.binance-ninja-donation-amount {
  display: inline !important;
  width: 80px !important;
  border: 1px solid #ccc;
  background: transparent;
  text-align: right;
}

.binance-ninja-dark input.binance-ninja-donation-amount {
    border: 1px solid #4e696c;
}

.binance-ninja-donation .icon {
  vertical-align: bottom;
  margin-right: 5px;
}

.binance-ninja-filtered-untraded .binance-ninja-untraded {
  display: none;
}


.binance-ninja-body .accountInfo-lists li .items>div.fullName,
.binance-ninja-body .accountInfo-lists li .items>div.total,
.binance-ninja-body .accountInfo-lists li .items>div.locked,
.binance-ninja-body .accountInfo-lists li .items>div.equalValue
{
  width: 110px;
}

.binance-ninja-body .accountInfo-lists li .items>div.useable {
  width: 120px;
}

.binance-ninja-body .accountInfo-lists li .items>div.binance-ninja {
  width: 100px;
}

.binance-ninja-body .accountInfo-lists li .items>div.binance-ninja.usdtValue,
.binance-ninja-body .accountInfo-lists li .items>div.binance-ninja.lastUsdtPrice
{
  width: 90px;
}


.binance-ninja-body .accountInfo-lists li .items>div.action {
  width: 250px;
}

.binance-ninja-body .accountInfo-lists li .items>div .btn {
  min-width: unset;
  padding-left: 3px;
  padding-right: 3px;
}

